.lineChart{
    box-shadow: var(--shadow);
    width: 50%;
    padding: 0 3% 1rem 3%;
    margin: 0rem 2% 3rem 2%;
    border-radius: 50px;
    
}

.lineChart h2{
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.chart{
    display: flex;
    max-width: 100%;
    
}

.pieChart{
    width: 40%;
    margin: 0rem 3% 3rem 3%;
    border-radius: 50px;
    box-shadow: var(--shadow);

}

.pieChart h2{
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

.lline{
    height: 50px;
}