.signup-wrapper{
    width: 70%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 3rem;
}
.title{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    
}
.or{
    color : gray;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.mar{
    margin-top: 1rem;
}

