.navbar {
    background-color: var(--theme);
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    color:"var(--white)";
    font-Weight:700;
    font-size: 1.2rem;
    margin: 0;
    padding: 0.8rem;
}
.link{
    opacity: 0.8;
    font-size: 1rem;
    cursor: pointer;
}
.link:hover{
    transition: all 0.3s;
    opacity: 1;
}
p{
    color: white;
}
